body {
    background-color: #4a8864;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    max-width: 800px;
    margin: 0 150px;
}
.cabeçalho {
padding: 20px 0;
border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.cabeçalho .container {
    display: flex;
    align-items: center;
}

.cabeçalho figure img{
width: 100%;
max-width: 140px;
}

.cabeçalho_logoPicpro {
    border-right: 1px solid #fff;
    margin-right: 15px;
}
.seçãoDetalhesConta {
    color: #fff;
    padding: 60px 0 30px;
}
.seçãoDetalhesConta_sobreusuário {
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    justify-content: space-between

}
.icone1 {
    margin-right: 50px;
    margin-left: 450px;
    max-height: 50px; 
    cursor: pointer; 
}
.icone2 {
    cursor: pointer; 
}
.seçãoDetalhesConta_sobreusuário p {
    font-size: 18px;
    margin-left: 10px;
}
.seçãoDetalhesConta_sobreusuário img {
    width: 100%;
    max-width: 50px;
}
.seçãoDetalhesConta_sobreusuário p strong {
    display: block;
    font-weight: bold;
}
.seçãoDetalhesConta_sobresaldo {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.seçãoDetalhesConta_sobresaldo p {
    font-size: 18px;
    line-height: 22px;
}

.visualizarsaldo p {
   font-weight: 600;
}
.visualizarsaldo {
    display: flex;
}
.visualizarsaldo img {
    display: block;
    height: 18px;
    width:30px;
    margin-left: 12px;
    cursor: pointer; 
}
.seçãoDetalhesConta_sobresaldo button{
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px  60px;
    border-radius: 10px;
    cursor: pointer;  
}
.seçãoDetalhesConta_opçõestransações{
    display: flex;
    justify-content: space-between;
}
.seçãoDetalhesConta_itemTransação {
    background-color: #1f6f54;
    width: 170px;
    height: 177px;
    border-radius: 20px;
    padding: 40px 20px;
    cursor: pointer;    
}
.seçãoDetalhesConta_itemTransação img{
    width: 100%;
    max-width: 40px;
}
.seçãoDetalhesConta_itemTransação p{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
    max-width: 80px;
}
.seçãoTransação{
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    border-bottom: 15px solid #f0f0f0;
    padding: 30px 0;
    min-height: 450px;
}

.seçãoTransação .container div{
    display: none
}
.seçãoTransação .container div.mostrar{
    display: block;
}

.seçãoTransação_avisoSeleção p{
   font-size:25px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15); 
   padding: 30px 60px;
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.15)
}
.seçãoTransação_avisoSeleção img{
    margin: 30px 0 90px;
    width: 100%;
}
.seçãoTransação_qrcode{
    text-align: center;
}
.seçãoTransação_qrcode img {
    max-width: 180px;
}
.seçãoTransação_qrcode p{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}
.seçãoTransação_qrcode button{
    background-color: #4a8864;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin: 50px 0 20px;
    padding: 15px 150px;
    cursor: pointer;
    }
.seçãoTransação_qrcode a{
    color: black;
    display: block;
    font-weight: bold;
}
.seçãoTransação_pix img{
    width: 100%;
    max-width: 150px;
}
.seçãoTransação_boxOpção {
    display: flex;
    align-items: center;
    border: 1px solid #d2d2d2;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    margin-bottom: 20px;
}
.seçãoTransação_boxOpção img{
    width: 100%;
    max-width: 80px;
    margin: 10px;
}
.seçãoTransação_boxOpção p{
    font-size: 18px;
    line-height: 20px;
}

.seçãoTransação_boleto img{
    width: 100%;
    max-width: 80px;
}
.seçãoTransação_boleto h2{
    font-size: 20px;
    font-weight: 600;
}
.seçãoTransação_boleto p{
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
}
.seçãoTransação_boleto input{
    width: 100%;
    background-color: #f4f4f4;
    font-size: 16px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    color: #000;
}

.seçãoTransação_cobrar img{
    width: 100%;
    max-width: 80px;
    }
.seçãoTransação_cobrar h2{
    font-size: 20px;
    font-weight: 600;
}
.seçãoTransação_cobrar p{
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
   }

.rodapé{
    background-color: #fff;
      
}
   
.rodapé_menuPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rodapé_menuPrincipal li{
    text-align: center;
}
.rodapé_menuPrincipal li a{
    color: #000;
    text-decoration: none;
}
.rodapé_menuPrincipal li a img{
    width: 100%;
    max-width: 40px;
    }
.rodapé_menuPrincipal li a p{
    margin-top: 20px;
}
.rodapé_menuItem_pagar{
    transform:translateY(-30px) 
    }
.rodapé_menuPrincipal .rodapé_menuItem_pagar a img{
    max-width: 80px;
}

.seçãoDetalhesConta_itemTransação:hover {
    background-color: #fff;
    color: #4a8864;
  }
.seçãoDetalhesConta_itemTransação figure {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 50px;
    width: 50px;
}
.seçãoDetalhesConta_itemTransação--qrcode figure{
    background-image: url("../img/qrcode.png");
   
}

.seçãoDetalhesConta_itemTransação--pix figure{
    background-image: url("../img/pix.png");
    
}

.seçãoDetalhesConta_itemTransação--boleto figure{
    background-image: url("../img/codigo.png");
    width: 42px;
    height: 40px;
    width: 100%;
    max-width: 52px;
    
}

.seçãoDetalhesConta_itemTransação--cobrar figure{
    background-image: url("../img/cobrar-icon.png");
    width: 42px;
    height: 40px;
    width: 100%;
    max-width: 52px;
}
.seçãoDetalhesConta_itemTransação--qrcode:hover figure {
    background-image: url("../img/qrcode-verde.png");
}

.seçãoDetalhesConta_itemTransação--pix:hover figure {
    background-image: url("../img/pix-verde.png");
}

.seçãoDetalhesConta_itemTransação--boleto:hover figure {
    background-image: url("../img/boleto-verde.png");
}

.seçãoDetalhesConta_itemTransação--cobrar:hover figure {
    background-image: url("../img/cobrar-verde.png");
}

.seçãoDetalhesConta_itemTransação figure img {
    opacity: 0;
    width: 100%;
    max-width: 25px;
    height: 20px;
}
